@import "style";
body {
    font-family: 'Raleway';
    background: #1B1B1B;
}

h1,
h2,
h3,
h4 {
    color: $white;
    letter-spacing: 1px;
}

h5 {
    color: rgba(255, 255, 255, 0.8);
}

p {
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.01em;
}

.text-light {
    color: rgba(255, 255, 255, 0.5)!important;
}

.text-secondary {
    color: #3E3D3D!important;
}

.bg-dark {
    background-color: #171717!important;
}

.border {
    border: 1px solid rgba(255, 255, 255, 0.25)!important;
}

.hero {
    background: url('../images/games/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-primary {
    color: $white;
    background-color: $blueviolet!important;
    border: 0;
    padding: 26px 49px;
}

.btn-secondary {
    color: $white;
    background-color: #252525!important;
    letter-spacing: 0.01em;
    border: 0;
    padding: 26px 49px;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: $white;
            font-size: 20px;
            padding: 0 38px;
        }
    }
}

.decor-large-img {
    top: 100px!important;
    left: 550px!important;
}

.form-control {
    color: rgba(255, 255, 255, 0.4);
    background: #242424;
    border-radius: 22px;
    border: 0;
    padding: 26px 30px;
    &::placeholder {
        color: rgba(255, 255, 255, 0.4);
        letter-spacing: 1.5px;
    }
}

.input-group {
    .input-group-text {
        transition: all 0.4s;
        z-index: 10;
        border: 0;
        border-left: none;
        border-radius: 22px;
        padding: 0;
        color: $white;
        background: #242424;
    }
    .input-group-button {
        background: $blueviolet;
        font-weight: bold;
        font-size: 18px;
        color: $white;
        border: none;
        border-radius: 22px;
        padding: 26px 40px;
        transform: scale(1.02);
    }
}

.contact-form {
    .dropdown-toggle {
        color: rgba(255, 255, 255, 0.4);
        background: #242424;
        border: 1.5px solid #242424;
    }
}

.checkbox .form-check-input {
    background: #2A2A34;
    border: 1.5px solid rgba(255, 255, 255, 0.25);
}

.checkbox input:checked+label::before {
    background: #2A2A34;
    border: 1.5px solid rgba(255, 255, 255, 0.25);
}

.checkbox label::before {
    background: #2A2A34;
    border: 1.5px solid rgba(255, 255, 255, 0.25);
}

.checkbox input:checked+label::after {
    color: $blueviolet;
}

.games {
    background: #171717;
    padding: 120px 0 140px 0;
    .card {
        padding: 0;
        border: 0;
        .card-footer {
            position: absolute;
            padding: 40px;
            background-color: transparent;
            border: 0;
            bottom: 0;
            @media (max-width: 992px) {
                padding: 20px;
            }
        }
    }
}

.reviews {
    background: #171717;
    .card {
        padding: 40px;
    }
    .checked {
        color: $blueviolet;
    }
    .tech-carousel-nav {
        bottom: 0;
    }
}

.about-decor {
    background: url('../images/games/about-decor.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.card {
    &:hover {
        background: transparent;
    }
}

.tech-carousel-nav {
    display: flex;
    bottom: 90px;
    right: 0;
    button {
        border: 0;
        background-color: transparent;
    }
    .owl-prev span {
        font-family: 'icomoon';
        content: "\e910";
        font-size: 18px;
        width: 36px;
        height: 36px;
        background: #252525;
        color: $white;
        border-radius: 12px;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
    }
    .owl-next span {
        font-family: 'icomoon';
        content: "\e911";
        font-size: 18px;
        width: 36px;
        height: 36px;
        background: #252525;
        color: $white;
        border-radius: 12px;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
    }
}

.user-style {
    width: 70px!important;
    height: 70px;
    border-radius: 50px;
}

@media (max-width: 992px) {
    .product {
        .card {
            .product-card-img {
                min-height: 275px;
            }
            .card-footer {
                bottom: 10px;
                h4 {
                    font-size: 22px;
                }
                padding: 0 20px;
            }
        }
    }
    .btn-primary {
        padding: 15px 36px;
    }
}

.navbar-brand-img {
    display: none;
    @media (min-width: 577px) {
        &.middle {
            display: inline-block;
        }
    }
    @media (max-width: 576px) {
        &.mobile {
            display: inline-block;
        }
    }
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: left;
}

.main-img {
    min-height: 800px;
    object-fit: cover;
}

@media (min-width: 1200px) {
    .btn-container {
        display: none;
    }
    #menu-container {
        height: auto;
        position: fixed;
        bottom: initial;
        box-sizing: border-box;
        min-width: 100%;
        background: $white;
        text-align: center;
        transition: all .5s ease-out;
        a {
            color: $white;
            font-size: 20px;
            letter-spacing: 1px;
            transition-duration: .5s;
            &:focus {
                opacity: 1;
            }
            &:hover {
                color: rgba(0, 0, 0, 0.5)
            }
        }
        li {
            display: inline;
            margin: 0 30px;
        }
        &.show {
            right: initial;
        }
        &.hide {
            opacity: initial;
            right: initial;
        }
        background-color: white;
    }
    #menu-inner {
        margin: 0;
        overflow: initial;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .sub-list {
        li {
            margin: 0 10px!important;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    #menu-container {
        a {
            font-size: 16px;
        }
        li {
            margin: 0 15px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 1200px) {
    #menu-container {
        background: #1B1B1B;
        li {
            margin: 25px 0;
            a {
                color: $white;
            }
        }
    }
    .btn-menu {
        background: $white!important;
    }
    .btn-menu span,
    .btn-menu span:before,
    .btn-menu span:after {
        background-color: $black;
    }
}

.navbar.fixed-top.scrolled {
    background: $black!important;
}