@charset "UTF-8";
@import "./owl.carousel.min.css";
@import "./owl.theme.default.min.css";
@import "./bootstrap.min.css";
@import "./bootstrap-select.min.css";
@import "fonts.css";
h1 {
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 6px;
  color: #000000;
}

h2 {
  font-weight: bold;
  font-size: 60px;
  color: #000000;
}

h3 {
  font-weight: bold;
  font-size: 38px;
  color: #000000;
}

h4 {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  color: #000000;
}

h5 {
  font-weight: normal;
  font-size: 22px;
  color: rgba(48, 48, 48, 0.8);
}

p {
  font-weight: normal;
  font-size: 18px;
  color: rgba(48, 48, 48, 0.7);
  margin-bottom: 0;
}

.w-36 {
  width: 36px;
}

.h-36 {
  height: 36px;
}

.w-150 {
  width: 150px;
}

.h-150 {
  height: 150px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-320 {
  padding-top: 320px;
}

.pt-450 {
  padding-top: 450px;
}

.pb-36 {
  padding-bottom: 36px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-260 {
  padding-bottom: 260px;
}

.pb-340 {
  padding-bottom: 340px;
}

.pb-580 {
  padding-bottom: 580px;
}

.py-70 {
  padding: 70px 0;
}

.py-128 {
  padding: 128px 0;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-180 {
  margin-bottom: 180px;
}

.ms-60 {
  margin-left: 60px;
}

.ms-80 {
  margin-left: 80px;
}

.ms-110 {
  margin-left: 110px;
}

.text-white {
  color: #FFFFFF;
}

.text-dark {
  color: #303030 !important;
}

.text-muted {
  color: #AAA8AD !important;
}

.font-size-10 {
  font-size: 10px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-96 {
  font-size: 96px;
}

.bg-white {
  background-color: #FFFFFF !important;
}

.bg-dark {
  background-color: #000000 !important;
}

.bg-secondary {
  background-color: #1F1F1F !important;
}

.bg-pink {
  background-color: #E5D9F7 !important;
}

.bg-gradient {
  background: linear-gradient(57.58deg, #FBCACD -10.97%, rgba(224, 204, 223, 0.5985) 57.52%, #E8D8FE 94.76%) !important;
}

.bg-gradient-sm {
  background-color: linear-gradient(285.61deg, #FBFAFE 33.02%, #FEF8F9 90.79%);
}

.shadow-sm {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.rounded-1 {
  border-radius: 33px !important;
}

.rounded-2 {
  border-radius: 40px !important;
}

.z-index-1 {
  z-index: 1;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

.border-right {
  border-right: 1px dashed rgba(0, 0, 0, 0.5) !important;
}

.shadow-sm {
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.05) !important;
}

body {
  font-family: "Lato";
  background-color: white;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-light .navbar-nav {
  margin-left: auto;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  color: #000000;
  padding: 0 12px;
}

.navbar {
  padding: 10px 0;
  background-color: transparent !important;
}
.navbar .navbar-toggler {
  z-index: 1000;
}
.navbar .navbar-collapse .navbar-menu-brand-img {
  width: 150px;
}
@media (max-width: 1200px) {
  .navbar .navbar-collapse {
    background-color: #FFFFFF;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.35s ease;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center !important;
  }
  .navbar .navbar-collapse.show {
    opacity: 1.5;
  }
  .navbar .navbar-collapse.collapse {
    opacity: 0;
    display: flex;
    pointer-events: none;
  }
  .navbar .navbar-collapse.collapsing[style*=height] {
    opacity: 1;
    height: 100vh !important;
  }
  .navbar .navbar-collapse.collapsing {
    opacity: 0;
    height: 100vh;
  }
  .navbar .navbar-collapse.collapse.show {
    opacity: 1;
    pointer-events: auto;
  }
  .navbar .navbar-collapse .navbar-nav {
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.navbar.fixed-top.scrolled {
  background-color: #FFFFFF !important;
}

ul {
  list-style: none;
}

.btn-container {
  z-index: 10;
}

.btn-menu {
  position: relative;
  outline: none;
  cursor: pointer;
  background-color: #000000;
  width: 88px;
  height: 88px;
  border: 0;
  border-radius: 32px;
  transition-duration: 0.5s;
}
.btn-menu span {
  top: 53%;
  left: 25%;
  width: 50%;
}
.btn-menu span, .btn-menu span:before, .btn-menu span:after {
  transition-duration: 0.5s;
  position: absolute;
  height: 5px;
  border-radius: 4.5px;
  display: block;
  content: "";
  background: #FFFFFF;
}
.btn-menu span:before, .btn-menu span:after {
  width: 100%;
}
.btn-menu span:before {
  top: -10px;
}

.btn-menu-active span {
  top: 48%;
}

@media (max-width: 576px) {
  .btn-menu {
    width: 50px;
    height: 50px;
    border-radius: 17.9px;
  }
  .btn-menu span {
    top: 56%;
  }
  .btn-menu span, .btn-menu span:before, .btn-menu span:after {
    height: 4px;
  }

  .btn-menu-active span {
    top: 50%;
  }
}
.btn-menu-active span {
  background: transparent;
}
.btn-menu-active span:before, .btn-menu-active span:after {
  top: 0;
}
.btn-menu-active span:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-menu-active span:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-container {
  height: 100%;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  min-width: 100%;
  background: linear-gradient(57.58deg, #FBCACD -10.97%, rgba(224, 204, 223, 0.5985) 57.52%, #E8D8FE 94.76%);
  text-align: center;
  font-weight: normal;
  font-size: 25px;
  transition: all 0.5s ease-out;
  background-color: white;
}
#menu-container a {
  color: #000000;
  transition-duration: 0.5s;
}
#menu-container a:focus {
  opacity: 1;
}
#menu-container a:hover {
  color: rgba(0, 0, 0, 0.5);
}
#menu-container li {
  display: inline;
  margin: 0 50px;
  margin-bottom: 10px;
}
#menu-container.show {
  right: 0px;
}
#menu-container.hide {
  opacity: 0.5;
  right: -100%;
}

#menu-inner {
  margin: 0;
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
#menu-inner::-webkit-scrollbar {
  display: none;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

.btn {
  font-weight: normal;
  font-size: 18px;
  border-radius: 22px;
}

.btn-dark {
  color: #FFFFFF;
  background-color: #000000;
  padding: 31px 64px;
}
.btn-dark:hover {
  color: #FFFFFF !important;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}
.btn-dark:focus {
  color: #FFFFFF !important;
  box-shadow: inset 0px 15px 35px rgba(0, 0, 0, 0.35);
}

.btn-white {
  color: #000000 !important;
  background-color: #FFFFFF;
  border-radius: 35px;
  padding: 22px 30px;
}
.btn-white:hover {
  color: #000000 !important;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}
.btn-white:focus {
  color: #000000 !important;
  box-shadow: inset 0px 15px 35px rgba(0, 0, 0, 0.35);
}

.btn-outline-dark {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  padding: 19px 24px;
}
.btn-outline-dark:hover {
  color: #000000 !important;
  background: #F3F3F3;
}
.btn-outline-dark:focus {
  color: #000000 !important;
  background: #F3F3F3;
}

.hero-image {
  background: url("../images/main-large.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60vw;
}

.main-gradient {
  background: linear-gradient(212.28deg, rgba(248, 244, 254, 0.5) 23.99%, rgba(252, 248, 250, 0.1) 36.81%);
  z-index: -2;
}

.about-image {
  background: url("../images/about-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50vw;
  z-index: -1;
}

.services-image {
  background: url("../images/services-main-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50vw;
}

.web-development-image {
  background: url("../images/web-development-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50vw;
}

.team-user-bg {
  background: linear-gradient(141.75deg, #FDEAEB 2.75%, rgba(245, 237, 248, 0.5) 46.82%, #F2EFFE 95.21%);
}

.img-style {
  width: auto;
}

.owl-carousel .owl-item img {
  display: inline-block;
  justify-content: center;
}

.team .tech-carousel-nav {
  bottom: 50px;
}

.tech-carousel-nav {
  display: flex;
  bottom: 90px;
  right: 0;
}
.tech-carousel-nav button {
  border: 0;
  background-color: transparent;
}
.tech-carousel-nav .owl-prev span {
  font-family: "icomoon";
  content: "";
  font-size: 18px;
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  border: 1.6px solid #000000;
  color: #000000;
  border-radius: 22px;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
}
.tech-carousel-nav .owl-next span {
  font-family: "icomoon";
  content: "";
  font-size: 18px;
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  border: 1.6px solid #000000;
  color: #000000;
  border-radius: 22px;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
}

.card {
  background-color: transparent;
  padding: 50px 58px;
  border: 1px solid rgba(151, 151, 151, 0.34);
  border-radius: 33px;
  cursor: pointer;
}
.card .card-title {
  font-weight: bold;
  font-size: 20px;
  color: #000000;
}
.card .card-text {
  font-weight: normal;
  font-size: 18px;
  color: rgba(48, 48, 48, 0.8);
}
.card:hover {
  border: 1px solid transparent;
  background: #FFFFFF;
  box-shadow: 6px 20px 78px rgba(0, 0, 0, 0.1);
}

.card.details-block {
  position: relative;
  cursor: pointer;
}
.card.details-block .read-more-link {
  opacity: 0;
}
.card.details-block:hover .read-more-link {
  opacity: 1;
  display: block;
}

.discover .card {
  padding: 40px;
}

.blog .card {
  padding: 40px;
}

.product .card:hover {
  box-shadow: none;
}
.product .card .product-card-img {
  min-height: 500px;
  object-fit: contain;
  border-radius: 33px;
}
.product .card .card-footer {
  position: absolute;
  padding: 0 30px;
  background-color: transparent;
  border: 0;
  bottom: 50px;
}

.decor-white {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 45%;
  background: #FFFFFF;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  z-index: -1;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.05) !important;
}
.decor-white.right {
  left: initial;
  right: 0;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.decor-blur {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 55%;
  background: linear-gradient(271.89deg, rgba(251, 250, 254, 0.22) 40.15%, rgba(254, 248, 249, 0.22) 56.67%);
  z-index: -1;
}
.decor-blur.left {
  right: initial;
  left: 0;
}

.decor-large-img {
  top: 35px;
  left: -30px;
}

.decor-small-img {
  top: -40px;
}

.services .btn-white {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-25%, -25%);
}
.services ul {
  list-style: disc;
  column-count: 2;
}
.services .services-item {
  display: inline-block;
  background-color: #FFFFFF;
  box-shadow: -40px 40px 80px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  padding: 18px 26px;
}
@media (max-width: 992px) {
  .services .service-description {
    height: 578px;
  }
  .services .decor-white {
    top: 40%;
    width: 96%;
  }
  .services .decor-white.right {
    top: 45%;
  }
  .services .decor-blur {
    left: 0;
    right: 0;
    width: auto;
    bottom: 50%;
  }
}

.services-hero .decor-white {
  z-index: 1;
  width: 30%;
}

.rectangle-style {
  width: 112px;
  height: 112px;
}

.icon-style {
  top: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 992px) {
  .icon-style {
    right: initial;
  }
}

textarea {
  resize: none;
}

footer {
  padding: 110px 0;
}
footer ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
footer ul li a {
  font-weight: normal;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
footer ul li a:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}
footer a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}
footer a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}
footer p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.tech-carousel-dots {
  display: flex;
  bottom: 90px;
  right: 0;
}
.tech-carousel-dots button {
  border: 0;
  background-color: transparent;
}
.tech-carousel-dots .owl-dot span {
  width: 17px;
  height: 17px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  margin: 0px 3px;
  background: #FFFFFF;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.tech-carousel-dots .owl-dot.active span,
.tech-carousel-dots .owl-dot:hover span {
  background-color: #000000;
}

.tech-carousel-dots .owl-dot.active span,
.tech-carousel-dots .owl-dot:hover span {
  width: 17px;
  height: 17px;
  background-color: #000000;
  border: 1px solid #000000;
}

.form-control {
  font-size: 18px;
  color: #303030;
  background: #FFFFFF;
  border: 1.5px solid rgba(35, 35, 35, 0.25);
  border-radius: 18px;
  padding: 24px 30px;
}
.form-control::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.input-group-text {
  font-size: 18px;
  color: #303030;
  background: #FFFFFF;
  border: 1.5px solid rgba(35, 35, 35, 0.25);
  border-radius: 18px;
  padding: 24px 30px;
  border-right: 0;
}

.dropdown .btn {
  color: rgba(255, 255, 255, 0.8);
}

iframe {
  right: 0;
  width: 88%;
  min-height: 700px;
}

.iframe-wrapper {
  min-height: 700px;
}

.contact-form .dropdown-toggle {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
  border: 1.5px solid rgba(35, 35, 35, 0.25);
  padding: 24px 30px;
  border-radius: 18px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 0;
}
.contact-form .dropdown-toggle::after {
  font-family: "icomoon";
  content: "";
  font-size: 10px;
  border: 0;
}
.contact-form .dropdown-menu {
  border: 1.5px solid rgba(35, 35, 35, 0.25) !important;
  border-radius: 16px;
}
.contact-form .chose-attachment-file-btn:hover {
  color: #303030;
}

.checkbox .form-check-input {
  background: #FFFFFF;
  border: 1px solid #000000;
}

.checkbox {
  padding-left: 30px;
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.checkbox input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  margin-left: -30px;
}

.checkbox input:checked + label::before {
  border-color: #000000;
}

.checkbox input:checked + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 2px;
  top: 4px;
  margin-left: -30px;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.checkbox label {
  font-size: 18px;
  font-weight: 400;
  color: #616060;
  display: inline-block;
  position: relative;
  padding-left: 10px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 2px;
  margin-left: -30px;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: #fff;
}

.checkbox.disabled label {
  color: #000000;
}

.checkbox.disabled label::before {
  opacity: 0.54;
}

.checkbox input:checked + label::before {
  border: 1px solid #000000;
  background-color: #FFFFFF;
}

.checkbox input:checked + label::after {
  font-family: "icomoon";
  content: "";
  font-size: 12px;
  color: #000000;
  background: none;
  top: 4px;
  left: 3px;
  border-color: transparent;
  background-color: transparent;
}

.checkbox label::before {
  border-radius: 8px;
}

.nav-pills .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  padding: 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 6px 20px 78px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.pagination {
  float: right;
}
.pagination .page-link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  border: 0;
  margin: 10px;
}
.pagination .page-link:active {
  color: #000000;
  background-color: transparent !important;
}
.pagination .page-link:focus {
  box-shadow: none;
  background-color: transparent !important;
}

.number-description {
  font-size: 96px;
  line-height: 115px;
}

.text-description {
  font-size: 18px;
  letter-spacing: 0.01em;
}

.text-caption-decoration {
  content: attr(data-caption);
  display: inline-block;
  font-weight: bold;
  font-size: 72px;
  background: linear-gradient(180deg, #BD9DDB 0%, #D5A6C6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slider {
  position: absolute;
  width: 100%;
  top: calc(50% - 400px);
  overflow: hidden;
}
.slider .slider-row {
  width: 2956px;
  height: 800px;
  background-image: url("../images/services-image.png");
  background-size: contain;
  animation: slide 50s linear infinite;
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2956px;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .container {
    max-width: 1170px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }

  h5 {
    font-size: 16px;
  }

  .btn {
    font-size: 14px;
  }

  .btn-dark {
    padding: 23px 48px;
  }

  .btn-outline-dark {
    padding: 14px 18px;
  }

  .btn-white {
    padding: 17px 22px;
  }

  .card {
    padding: 40px;
  }
  .card .card-title {
    font-size: 15px;
  }
  .card .card-text {
    font-size: 14px;
  }

  .font-size-18 {
    font-size: 14px;
  }

  .font-size-32 {
    font-size: 24px;
  }

  .number-description {
    font-size: 70px;
    line-height: 84px;
  }

  .text-description {
    font-size: 15px;
  }

  footer p {
    font-size: 14px;
  }
  footer ul li a {
    font-size: 14px;
  }
  footer a {
    font-size: 14px;
  }
}
.navbar-brand-img {
  display: none;
}
@media (min-width: 1600px) {
  .navbar-brand-img.large {
    display: inline-block;
  }
}
@media (min-width: 577px) and (max-width: 1599px) {
  .navbar-brand-img.middle {
    display: inline-block;
  }
}
@media (max-width: 576px) {
  .navbar-brand-img.mobile {
    display: inline-block;
  }
}

@media (min-width: 577px) and (max-width: 1600px) {
  .btn-menu {
    width: 66px;
    height: 66px;
    border-radius: 24px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1560px;
  }
}
@media (min-width: 992px) and (max-width: 1760px) {
  .product .card .card-footer {
    bottom: 60px;
  }
}
@media (max-width: 1200px) {
  h1 {
    font-size: 54px !important;
  }

  .rectangle-style {
    width: 87px;
    height: 87px;
  }

  .font-size-32 {
    font-size: 22px;
  }

  .btn {
    font-size: 14px;
  }

  .btn-white {
    padding: 18px;
  }

  .services-hero .decor-white {
    width: 50%;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  .hero-image {
    background: url("../images/main-middle.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 992px) and (max-width: 1600px) {
  .hero-image {
    background: url("../images/main.png");
    background-repeat: no-repeat;
  }
}
@media (max-width: 992px) {
  .decor-large-img {
    width: 152px;
    top: 205px;
  }

  .decor-small-img {
    width: 104px;
  }

  .btn-dark {
    padding: 24px 42px;
  }

  .discover .card {
    padding: 20px;
  }

  .about-image {
    background: url("../images/about-middle.png");
    background-repeat: no-repeat;
    width: 45vw;
  }

  .img-style {
    width: 60%;
  }

  .py-128 {
    padding: 60px 0;
  }

  .pt-180 {
    padding-top: 230px;
  }

  .pb-200 {
    padding-bottom: 100px;
  }

  .pb-260 {
    padding-bottom: 80px;
  }

  .pt-320 {
    padding-top: 240px;
  }

  .pt-450 {
    padding-top: 250px;
  }

  .pb-340 {
    padding-bottom: 80px;
  }

  .pb-580 {
    padding-bottom: 270px;
  }

  #menu-container li {
    margin: 25px 0;
  }

  iframe {
    right: 0;
    left: 0;
    top: 220px;
    width: 100%;
  }

  .iframe-wrapper {
    min-height: 410px;
  }

  .product .card .product-card-img {
    min-height: 375px;
    object-fit: cover;
  }
  .product .card .card-footer {
    padding: 0 20px;
  }
  .product .card .card-footer h4 {
    font-size: 22px;
  }

  .services ul {
    column-count: 1;
  }

  .number-description {
    font-size: 70px;
    line-height: 84px;
  }

  .services-hero .decor-white {
    width: 50%;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .font-size-20 {
    font-size: 15px;
  }

  .pt-80 {
    padding-top: 60px;
  }

  .pt-200 {
    padding-top: 120px;
  }

  .pb-65 {
    padding-bottom: 40px;
  }

  .pb-80 {
    padding-bottom: 40px;
  }

  .pb-160 {
    padding-bottom: 120px;
  }

  .mb-80 {
    margin-bottom: 30px;
  }

  .mb-180 {
    margin-bottom: 100px;
  }

  .navbar {
    padding: 10px 0;
  }

  .card {
    padding: 30px;
  }
  .card .card-title {
    font-size: 14px;
  }
  .card .card-text {
    font-size: 12px;
  }

  .btn-white {
    padding: 17px 23px;
  }

  .tech-carousel-dots {
    display: none;
  }

  .container-fluid-mobile {
    max-width: auto;
    padding: 0;
  }

  .contact-form .dropdown-toggle {
    font-size: 14px;
  }

  .input-group-text {
    font-size: 14px;
  }

  .form-control {
    font-size: 14px;
    padding: 18px 23px;
  }

  .checkbox label {
    font-size: 14px;
  }

  .about .about-image {
    background: url("../images/about-mobile.png");
    background-repeat: no-repeat;
    width: 40vw;
  }
  .about.pt-320 {
    padding-top: 360px;
  }
  .about.pb-580 {
    padding-bottom: 120px;
  }

  .img-style {
    width: 80%;
  }

  footer {
    padding: 30px 0;
  }
  footer ul li a {
    font-size: 14px;
  }
  footer p {
    font-size: 14px;
  }
  footer a {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .decor-small-img {
    width: 45%;
    right: 0;
  }

  .hero-image {
    background: url("../images/main-mobile.png");
    background-repeat: no-repeat;
  }

  .about .about-image {
    width: 56vw;
  }

  .pt-180 {
    padding-top: 280px;
  }

  .pt-320 {
    padding-top: 280px;
  }

  .product .card .card-footer {
    bottom: 40px;
  }

  .services-hero .decor-white {
    width: 70%;
  }
}
@media (max-width: 414px) {
  .hero-image {
    background: url("../images/main-mobile.png");
    background-repeat: no-repeat;
    width: 88vw;
  }

  .about .about-image {
    width: 76vw;
  }
}
body {
  font-family: "Raleway";
  background: #1B1B1B;
}

h1,
h2,
h3,
h4 {
  color: #FFFFFF;
  letter-spacing: 1px;
}

h5 {
  color: rgba(255, 255, 255, 0.8);
}

p {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.01em;
}

.text-light {
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-secondary {
  color: #3E3D3D !important;
}

.bg-dark {
  background-color: #171717 !important;
}

.border {
  border: 1px solid rgba(255, 255, 255, 0.25) !important;
}

.hero {
  background: url("../images/games/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #7879F1 !important;
  border: 0;
  padding: 26px 49px;
}

.btn-secondary {
  color: #FFFFFF;
  background-color: #252525 !important;
  letter-spacing: 0.01em;
  border: 0;
  padding: 26px 49px;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
  font-size: 20px;
  padding: 0 38px;
}

.decor-large-img {
  top: 100px !important;
  left: 550px !important;
}

.form-control {
  color: rgba(255, 255, 255, 0.4);
  background: #242424;
  border-radius: 22px;
  border: 0;
  padding: 26px 30px;
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 1.5px;
}

.input-group .input-group-text {
  transition: all 0.4s;
  z-index: 10;
  border: 0;
  border-left: none;
  border-radius: 22px;
  padding: 0;
  color: #FFFFFF;
  background: #242424;
}
.input-group .input-group-button {
  background: #7879F1;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  border: none;
  border-radius: 22px;
  padding: 26px 40px;
  transform: scale(1.02);
}

.contact-form .dropdown-toggle {
  color: rgba(255, 255, 255, 0.4);
  background: #242424;
  border: 1.5px solid #242424;
}

.checkbox .form-check-input {
  background: #2A2A34;
  border: 1.5px solid rgba(255, 255, 255, 0.25);
}

.checkbox input:checked + label::before {
  background: #2A2A34;
  border: 1.5px solid rgba(255, 255, 255, 0.25);
}

.checkbox label::before {
  background: #2A2A34;
  border: 1.5px solid rgba(255, 255, 255, 0.25);
}

.checkbox input:checked + label::after {
  color: #7879F1;
}

.games {
  background: #171717;
  padding: 120px 0 140px 0;
}
.games .card {
  padding: 0;
  border: 0;
}
.games .card .card-footer {
  position: absolute;
  padding: 40px;
  background-color: transparent;
  border: 0;
  bottom: 0;
}
@media (max-width: 992px) {
  .games .card .card-footer {
    padding: 20px;
  }
}

.reviews {
  background: #171717;
}
.reviews .card {
  padding: 40px;
}
.reviews .checked {
  color: #7879F1;
}
.reviews .tech-carousel-nav {
  bottom: 0;
}

.about-decor {
  background: url("../images/games/about-decor.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.card:hover {
  background: transparent;
}

.tech-carousel-nav {
  display: flex;
  bottom: 90px;
  right: 0;
}
.tech-carousel-nav button {
  border: 0;
  background-color: transparent;
}
.tech-carousel-nav .owl-prev span {
  font-family: "icomoon";
  content: "";
  font-size: 18px;
  width: 36px;
  height: 36px;
  background: #252525;
  color: #FFFFFF;
  border-radius: 12px;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
}
.tech-carousel-nav .owl-next span {
  font-family: "icomoon";
  content: "";
  font-size: 18px;
  width: 36px;
  height: 36px;
  background: #252525;
  color: #FFFFFF;
  border-radius: 12px;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
}

.user-style {
  width: 70px !important;
  height: 70px;
  border-radius: 50px;
}

@media (max-width: 992px) {
  .product .card .product-card-img {
    min-height: 275px;
  }
  .product .card .card-footer {
    bottom: 10px;
    padding: 0 20px;
  }
  .product .card .card-footer h4 {
    font-size: 22px;
  }

  .btn-primary {
    padding: 15px 36px;
  }
}
.navbar-brand-img {
  display: none;
}
@media (min-width: 577px) {
  .navbar-brand-img.middle {
    display: inline-block;
  }
}
@media (max-width: 576px) {
  .navbar-brand-img.mobile {
    display: inline-block;
  }
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: left;
}

.main-img {
  min-height: 800px;
  object-fit: cover;
}

/*# sourceMappingURL=games.css.map */
