@import "./owl.carousel.min.css";
@import "./owl.theme.default.min.css";
@import "./bootstrap.min.css";
@import "./bootstrap-select.min.css";
@import "fonts.css";
@import "variables";
body {
    font-family: 'Lato';
    background-color: white;
}

a {
    text-decoration: none;
    color: $black;
    &:hover {
        color: rgba(0, 0, 0, 0.5)!important;
    }
}

.navbar-light .navbar-nav {
    margin-left: auto;
    .nav-link {
        font-size: 18px;
        color: $black;
        padding: 0 12px;
    }
}

.navbar {
    padding: 10px 0;
    background-color: transparent!important;
    .navbar-toggler {
        z-index: 1000;
    }
    .navbar-collapse {
        .navbar-menu-brand-img {
            width: 150px;
        }
        @media (max-width: 1200px) {
            &.show {
                opacity: 1.5;
            }
            background-color: $white;
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: opacity 0.35s ease;
            display: flex;
            flex-direction: column;
            align-content: center;
            text-align: center !important;
            &.collapse {
                opacity: 0;
                display: flex;
                pointer-events: none;
            }
            &.collapsing[style*="height"] {
                opacity: 1;
                height: 100vh !important;
            }
            &.collapsing {
                opacity: 0;
                height: 100vh;
            }
            &.collapse.show {
                opacity: 1;
                pointer-events: auto;
            }
            .navbar-nav {
                margin-left: 0;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
    &.fixed-top.scrolled {
        background-color: $white!important;
    }
}

ul {
    list-style: none;
}

.btn-container {
    z-index: 10;
}

.btn-menu {
    position: relative;
    outline: none;
    cursor: pointer;
    background-color: $black;
    width: 88px;
    height: 88px;
    border: 0;
    border-radius: 22px;
    transition-duration: .5s;
    span {
        top: 52%;
        left: 25%;
        width: 50%;
        &,
        &:before,
        &:after {
            transition-duration: .5s;
            position: absolute;
            height: 5px;
            border-radius: 4.5px;
            display: block;
            content: '';
            background: $white;
        }
        &:before,
        &:after {
            width: 100%;
        }
        &:before {
            top: -10px;
        }
    }
}

.btn-menu-active span {
    top: 48%;
}

@media (max-width: 768px) {
    .btn-menu {
        width: 50px;
        height: 50px;
        border-radius: 12px;
        span {
            top: 58%;
            &,
            &:before,
            &:after {
                height: 3px;
            }
        }
    }
    .btn-menu-active span {
        top: 50%;
    }
}

.btn-menu-active {
    span {
        background: transparent;
        &:before,
        &:after {
            top: 0;
        }
        &:before {
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:after {
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}

#menu-container {
    height: 100%;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    min-width: 100%;
    background: linear-gradient(57.58deg, #FBCACD -10.97%, rgba(224, 204, 223, 0.5985) 57.52%, #E8D8FE 94.76%);
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    transition: all .5s ease-out;
    a {
        color: $black;
        transition-duration: .5s;
        &:focus {
            opacity: 1;
        }
        &:hover {
            color: rgba(0, 0, 0, 0.5)
        }
    }
    li {
        display: inline;
        margin: 0 50px;
        margin-bottom: 10px;
    }
    &.show {
        right: 0px;
    }
    &.hide {
        opacity: .5;
        right: -100%;
    }
    background-color: white;
}

#menu-inner {
    margin: 0;
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    &::-webkit-scrollbar {
        display: none;
    }
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.btn {
    font-weight: normal;
    font-size: 18px;
    border-radius: 22px;
}

.btn-dark {
    color: $white;
    background-color: $black;
    padding: 31px 64px;
    &:hover {
        color: $white!important;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
    }
    &:focus {
        color: $white!important;
        box-shadow: inset 0px 15px 35px rgba(0, 0, 0, 0.35);
    }
}

.btn-white {
    color: $black!important;
    background-color: $white;
    border-radius: 35px;
    padding: 22px 30px;
    &:hover {
        color: $black!important;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
    }
    &:focus {
        color: $black!important;
        box-shadow: inset 0px 15px 35px rgba(0, 0, 0, 0.35);
    }
}

.services {
    .btn-white {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-25%, -25%);
    }
    ul {
        list-style: disc;
        column-count: 2;
    }
    .services-item {
        display: inline-block;
        background-color: $white;
        box-shadow: -40px 40px 80px rgba(0, 0, 0, 0.05);
        border-radius: 40px;
        padding: 18px 26px;
    }
}

.btn-outline-dark {
    color: $black;
    background-color: $white;
    border: 1px solid $black;
    padding: 19px 24px;
    &:hover {
        color: $black!important;
        background: #F3F3F3;
    }
    &:focus {
        color: $black!important;
        background: #F3F3F3;
    }
}

.hero-image {
    background: url('../images/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60vw;
}

.main-gradient {
    background: linear-gradient(212.28deg, rgba(248, 244, 254, 0.5) 23.99%, rgba(252, 248, 250, 0.1) 36.81%);
    z-index: -2;
}

.about-image {
    background: url('../images/about-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50vw;
    z-index: -1;
}

.services-image {
    background: url('../images/services-main-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50vw;
}

.web-development-image {
    background: url('../images/web-development-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50vw;
}

.team-user-bg {
    background: linear-gradient(141.75deg, #FDEAEB 2.75%, rgba(245, 237, 248, 0.5) 46.82%, #F2EFFE 95.21%);
}

.img-style {
    padding: 0 157px;
    position: relative;
    bottom: 0;
}

.owl-carousel .owl-item img {
    display: inline-block;
    justify-content: center;
}

.tech-carousel-nav {
    display: flex;
    bottom: 90px;
    right: 0;
    button {
        border: 0;
        background-color: transparent;
    }
    .owl-prev span {
        font-family: 'icomoon';
        content: "\e910";
        font-size: 18px;
        width: 36px;
        height: 36px;
        background: $white;
        border: 1.6px solid $black;
        color: $black;
        border-radius: 22px;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
    }
    .owl-next span {
        font-family: 'icomoon';
        content: "\e911";
        font-size: 18px;
        width: 36px;
        height: 36px;
        background: $white;
        border: 1.6px solid $black;
        color: $black;
        border-radius: 22px;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
    }
}

.card {
    background-color: transparent;
    padding: 50px 58px;
    border: 1px solid rgba(151, 151, 151, 0.34);
    border-radius: 33px;
    cursor: pointer;
    .card-title {
        font-weight: bold;
        font-size: 20px;
        color: $black;
    }
    .card-text {
        font-weight: normal;
        font-size: 18px;
        color: rgba(48, 48, 48, 0.8);
    }
    &:hover {
        border: 1px solid transparent;
        background: $white;
        box-shadow: 6px 20px 78px rgba(0, 0, 0, 0.1);
    }
}

.card.details-block {
    position: relative;
    cursor: pointer;
    .read-more-link {
        opacity: 0;
    }
    &:hover {
        .read-more-link {
            opacity: 1;
            display: block;
        }
    }
}

.discover {
    .card {
        padding: 40px;
    }
}

.blog {
    .card {
        padding: 40px;
    }
}

.product {
    .card {
        &:hover {
            box-shadow: none;
        }
        .product-card-img {
            min-height: 500px;
            object-fit: contain;
            border-radius: 33px;
        }
        .card-footer {
            position: absolute;
            padding: 0 30px;
            background-color: transparent;
            border: 0;
            bottom: 50px;
        }
    }
}

.decor-white {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 45%;
    background: $white;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    z-index: -1;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.05)!important;
    &.right {
        left: initial;
        right: 0;
        border-top-left-radius: 33px;
        border-bottom-left-radius: 33px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.decor-blur {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 55%;
    background: linear-gradient(271.89deg, rgba(251, 250, 254, 0.22) 40.15%, rgba(254, 248, 249, 0.22) 56.67%);
    z-index: -1;
    &.left {
        right: initial;
        left: 0;
    }
}

.decor-large-img {
    top: 35px;
    left: -30px;
}

.decor-small-img {
    top: -40px;
}

.rectangle-style {
    width: 112px;
    height: 112px;
}

.icon-style {
    top: 0;
    right: 0;
    z-index: -1;
}

textarea {
    resize: none;
}

footer {
    padding: 110px 0;
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            a {
                font-weight: normal;
                font-size: 18px;
                color: rgba(255, 255, 255, 0.8);
                &:hover {
                    color: rgba(255, 255, 255, 0.5)!important;
                }
            }
        }
    }
    a {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.5);
        &:hover {
            color: rgba(255, 255, 255, 0.8)!important;
        }
    }
    p {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.8);
    }
}

.tech-carousel-dots {
    display: flex;
    bottom: 90px;
    right: 0;
    button {
        border: 0;
        background-color: transparent;
    }
    .owl-dot span {
        width: 17px;
        height: 17px;
        background-color: $white;
        border: 1px solid $black;
        margin: 0px 3px;
        background: $white;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        border-radius: 30px;
    }
    .owl-dot.active span,
    .owl-dot:hover span {
        background-color: $black;
    }
}

.tech-carousel-dots .owl-dot.active span,
.tech-carousel-dots .owl-dot:hover span {
    width: 17px;
    height: 17px;
    background-color: $black;
    border: 1px solid $black;
}

.form-control {
    font-size: 18px;
    color: $darkgrey;
    background: $white;
    border: 1.5px solid rgba(35, 35, 35, 0.25);
    border-radius: 18px;
    padding: 24px 30px;
    &::placeholder {
        color: rgba(0, 0, 0, 0.4);
    }
}

.input-group-text {
    font-size: 18px;
    color: $darkgrey;
    background: $white;
    border: 1.5px solid rgba(35, 35, 35, 0.25);
    border-radius: 18px;
    padding: 24px 30px;
    border-right: 0;
}

.dropdown .btn {
    color: rgba(255, 255, 255, 0.8);
}

iframe {
    right: 0;
    width: 88%;
    min-height: 700px;
}

.iframe-wrapper {
    min-height: 700px;
}

.contact-form {
    .dropdown-toggle {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.4);
        border: 1.5px solid rgba(35, 35, 35, 0.25);
        padding: 24px 30px;
        border-radius: 18px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 0;
        &::after {
            font-family: 'icomoon';
            content: "\e90b";
            font-size: 10px;
            border: 0;
        }
    }
    .dropdown-menu {
        border: 1.5px solid rgba(35, 35, 35, 0.25)!important;
        border-radius: 16px;
    }
    .chose-attachment-file-btn {
        &:hover {
            color: $darkgrey;
        }
    }
}

.checkbox .form-check-input {
    background: $white;
    border: 1px solid $black;
}

.checkbox {
    padding-left: 30px;
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.checkbox input {
    opacity: 0;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    margin-left: -30px;
}

.checkbox input:checked+label::before {
    border-color: $black;
}

.checkbox input:checked+label::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 2px;
    top: 4px;
    margin-left: -30px;
    border: 1px solid $black;
    border-radius: 50%;
    background-color: $white;
}

.checkbox label {
    font-size: 18px;
    font-weight: 400;
    color: #616060;
    display: inline-block;
    position: relative;
    padding-left: 10px;
}

.checkbox label::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 2px;
    margin-left: -30px;
    border: 1px solid $black;
    border-radius: 50%;
    background-color: #fff;
}

.checkbox.disabled label {
    color: $black;
}

.checkbox.disabled label::before {
    opacity: .54;
}

.checkbox input:checked+label::before {
    border: 1px solid $black;
    background-color: $white;
}

.checkbox input:checked+label::after {
    font-family: 'icomoon';
    content: "\e904";
    font-size: 12px;
    color: $black;
    background: none;
    top: 4px;
    left: 3px;
    border-color: transparent;
    background-color: transparent;
}

.checkbox label::before {
    border-radius: 8px;
}

.nav-pills {
    .nav-link {
        color: rgba(0, 0, 0, 0.5);
        font-size: 18px;
        padding: 20px;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: $black;
    background-color: $white;
    box-shadow: 6px 20px 78px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.pagination {
    float: right;
    .page-link {
        color: rgba(0, 0, 0, 0.5);
        font-size: 18px;
        border: 0;
        margin: 10px;
        &:active {
            color: $black;
            background-color: transparent!important;
        }
        &:focus {
            box-shadow: none;
            background-color: transparent!important;
        }
    }
}

.number-description {
    font-size: 96px;
    line-height: 115px;
}

.text-description {
    font-size: 18px;
    letter-spacing: 0.01em;
}

.text-caption-decoration {
    content: attr(data-caption);
    display: inline-block;
    font-weight: bold;
    font-size: 72px;
    background: linear-gradient(180deg, #BD9DDB 0%, #D5A6C6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1600px) {
    h1 {
        font-size: 60px;
    }
    h3 {
        font-size: 28px;
    }
    h5 {
        font-size: 16px;
    }
    .btn {
        font-size: 14px;
    }
    .btn-dark {
        padding: 23px 48px;
    }
    .btn-outline-dark {
        padding: 14px 18px;
    }
    .btn-white {
        padding: 17px 22px;
    }
    .card {
        padding: 40px;
        .card-title {
            font-size: 15px;
        }
        .card-text {
            font-size: 14px;
        }
    }
    .font-size-18 {
        font-size: 14px;
    }
    .font-size-32 {
        font-size: 24px;
    }
    .number-description {
        font-size: 70px;
        line-height: 84px
    }
    .text-description {
        font-size: 15px;
    }
    footer {
        p {
            font-size: 14px;
        }
        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
        a {
            font-size: 14px;
        }
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1560px;
    }
}

@media (min-width: 992px) and (max-width: 1760px) {
    .product {
        .card {
            .card-footer {
                bottom: 110px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .rectangle-style {
        width: 87px;
        height: 87px;
    }
    .font-size-32 {
        font-size: 22px;
    }
    .btn {
        font-size: 14px;
    }
    .btn-white {
        padding: 18px;
    }
}

@media (max-width: 992px) {
    .decor-large-img {
        width: 152px;
        top: 205px;
    }
    .decor-small-img {
        width: 104px;
    }
    .btn-dark {
        padding: 24px 42px;
    }
    .discover .card {
        padding: 20px;
    }
    .hero-image {
        background: url('../images/main-middle.png');
        background-repeat: no-repeat;
    }
    .about-image {
        background: url('../images/about-middle.png');
        background-repeat: no-repeat;
        width: 45vw;
    }
    .pt-180 {
        padding-top: 230px;
    }
    .pb-200 {
        padding-bottom: 100px;
    }
    .pb-260 {
        padding-bottom: 80px;
    }
    .pt-320 {
        padding-top: 240px;
    }
    .pt-450 {
        padding-top: 250px;
    }
    .pb-340 {
        padding-bottom: 80px;
    }
    .pb-580 {
        padding-bottom: 270px;
    }
    #menu-container li {
        margin: 25px 0;
    }
    iframe {
        right: 0;
        left: 0;
        top: 220px;
        width: 100%;
    }
    .iframe-wrapper {
        min-height: 410px;
    }
    .product {
        .card {
            .product-card-img {
                min-height: 375px;
                object-fit: cover;
            }
            .card-footer {
                h4 {
                    font-size: 22px;
                }
                padding: 0 20px;
            }
        }
    }
    .services {
        ul {
            column-count: 1;
        }
    }
    .number-description {
        font-size: 70px;
        line-height: 84px
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 54px!important;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 36px;
    }
    h3 {
        font-size: 30px;
    }
    h5 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    .font-size-20 {
        font-size: 15px;
    }
    .pt-80 {
        padding-top: 60px;
    }
    .pt-200 {
        padding-top: 120px;
    }
    .pb-65 {
        padding-bottom: 40px;
    }
    .pb-80 {
        padding-bottom: 40px;
    }
    .pb-160 {
        padding-bottom: 120px;
    }
    .mb-80 {
        margin-bottom: 30px;
    }
    .navbar {
        padding: 10px 0;
    }
    .card {
        padding: 30px;
        .card-title {
            font-size: 14px;
        }
        .card-text {
            font-size: 12px;
        }
    }
    .btn-white {
        padding: 17px 23px;
    }
    .tech-carousel-dots {
        display: none;
    }
    .container-fluid-mobile {
        max-width: auto;
        padding: 0;
    }
    .contact-form {
        .dropdown-toggle {
            font-size: 14px;
        }
    }
    .input-group-text {
        font-size: 14px;
    }
    .form-control {
        font-size: 14px;
        padding: 18px 23px;
    }
    .checkbox label {
        font-size: 14px;
    }
    .about {
        .about-image {
            background: url('../images/about-mobile.png');
            background-repeat: no-repeat;
            width: 40vw;
        }
        &.pt-320 {
            padding-top: 360px;
        }
        &.pb-580 {
            padding-bottom: 120px;
        }
    }
    footer {
        padding: 30px 0;
        ul li a {
            font-size: 14px;
        }
        p {
            font-size: 14px;
        }
        a {
            font-size: 14px;
        }
    }
}

@media (max-width: 576px) {
    .decor-small-img {
        width: 45%;
        right: 0;
    }
    .hero-image {
        background: url('../images/main-mobile.png');
        background-repeat: no-repeat;
    }
    .about {
        .about-image {
            width: 56vw;
        }
    }
    .pt-180 {
        padding-top: 280px;
    }
    .pt-320 {
        padding-top: 280px;
    }
    .product {
        .card {
            .card-footer {
                bottom: 40px;
            }
        }
    }
}

@media (max-width: 414px) {
    .hero-image {
        background: url('../images/main-mobile.png');
        background-repeat: no-repeat;
        width: 88vw;
    }
    .about {
        .about-image {
            width: 76vw;
        }
    }
}