@import "./owl.carousel.min.css";
@import "./owl.theme.default.min.css";
@import "./bootstrap.min.css";
@import "./bootstrap-select.min.css";
@import "fonts.css";
h1 {
  font-weight: bold;
  font-size: 80px;
  color: #000000;
}

h2 {
  font-weight: bold;
  font-size: 38px;
  color: #000000;
}

h3 {
  font-weight: 600;
  font-size: 28px;
  color: #000000;
}

h4 {
  font-weight: normal;
  font-size: 24px;
  color: #000000;
}

h5 {
  font-weight: normal;
  font-size: 22px;
  color: rgba(48, 48, 48, 0.8);
}

p {
  font-weight: normal;
  font-size: 20px;
  color: #303030;
  margin-bottom: 0;
}

.w-36 {
  width: 36px;
}

.h-36 {
  height: 36px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-300 {
  margin-top: 300px !important;
}

.pt-160 {
  padding-top: 160px;
}

.pt-180 {
  padding-top: 180px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-260 {
  padding-bottom: 260px;
}

.py-70 {
  padding: 70px 0;
}

.text-white {
  color: #FFFFFF;
}

.text-dark {
  color: #303030 !important;
}

.font-size-10 {
  font-size: 10px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-36 {
  font-size: 36px !important;
}

.font-size-64 {
  font-size: 64px;
}

.bg-white {
  background-color: #FCFDFF !important;
}

.bg-dark {
  background-color: #000000 !important;
}

.bg-pink {
  background-color: #E5D9F7 !important;
}

.shadow-sm {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.shadow {
  box-shadow: 0px 15px 35px rgba(0, 95, 255, 0.25) !important;
}

.rounded-1 {
  border-radius: 33px !important;
}

.z-index-1 {
  z-index: 1;
}

body {
  font-family: "Lato";
  background-color: rgba(255, 255, 255, 0.34);
}

a {
  text-decoration: none;
}

.navbar-light .navbar-nav {
  margin-left: auto;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  color: #000000;
  padding: 0 12px;
}

.navbar {
  padding: 10px 0;
  background-color: transparent !important;
}
.navbar .navbar-toggler {
  z-index: 1000;
}
.navbar .navbar-collapse .navbar-menu-brand-img {
  width: 150px;
}
@media (max-width: 1200px) {
  .navbar .navbar-collapse {
    background-color: #FFFFFF;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.35s ease;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center !important;
  }
  .navbar .navbar-collapse.show {
    opacity: 1.5;
  }
  .navbar .navbar-collapse.collapse {
    opacity: 0;
    display: flex;
    pointer-events: none;
  }
  .navbar .navbar-collapse.collapsing[style*=height] {
    opacity: 1;
    height: 100vh !important;
  }
  .navbar .navbar-collapse.collapsing {
    opacity: 0;
    height: 100vh;
  }
  .navbar .navbar-collapse.collapse.show {
    opacity: 1;
    pointer-events: auto;
  }
  .navbar .navbar-collapse .navbar-nav {
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.navbar.fixed-top.scrolled {
  background-color: #FFFFFF !important;
}

a {
  text-decoration: none;
}
a:hover {
  color: #F5F2FC;
}

ul {
  list-style: none;
}

.btn-container {
  z-index: 10;
}

.btn-menu {
  position: relative;
  outline: none;
  cursor: pointer;
  background-color: #000000;
  width: 88px;
  height: 88px;
  border: 0;
  border-radius: 22px;
  transition-duration: 0.5s;
}
.btn-menu span {
  top: 52%;
  left: 25%;
  width: 50%;
}
.btn-menu span, .btn-menu span:before, .btn-menu span:after {
  transition-duration: 0.5s;
  position: absolute;
  height: 5px;
  border-radius: 4.5px;
  display: block;
  content: "";
  background: #FFFFFF;
}
.btn-menu span:before, .btn-menu span:after {
  width: 100%;
}
.btn-menu span:before {
  top: -10px;
}

@media (max-width: 768px) {
  .btn-menu {
    width: 50px;
    height: 50px;
    border-radius: 12px;
  }
  .btn-menu span {
    top: 55%;
  }
  .btn-menu span, .btn-menu span:before, .btn-menu span:after {
    height: 3px;
  }
}
.btn-menu-active span {
  background: transparent;
}
.btn-menu-active span:before, .btn-menu-active span:after {
  top: 0;
}
.btn-menu-active span:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-menu-active span:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-container {
  height: 100%;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  min-width: 100%;
  background: linear-gradient(57.58deg, #FBCACD -10.97%, rgba(224, 204, 223, 0.5985) 57.52%, #E8D8FE 94.76%);
  text-align: center;
  font-weight: normal;
  font-size: 25px;
  transition: all 0.5s ease-out;
  background-color: white;
}
#menu-container a {
  color: #000000;
  transition-duration: 0.5s;
}
#menu-container a:focus {
  opacity: 1;
}
#menu-container a:hover {
  color: rgba(0, 0, 0, 0.5);
}
#menu-container li {
  display: inline;
  margin: 0 50px;
  margin-bottom: 10px;
}
#menu-container.show {
  right: 0px;
}
#menu-container.hide {
  opacity: 0.5;
  right: -100%;
}

#menu-inner {
  margin: 0;
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
#menu-inner::-webkit-scrollbar {
  display: none;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

.btn {
  font-weight: normal;
  font-size: 18px;
  border-radius: 22px;
}

.btn-dark {
  color: #FFFFFF;
  background-color: #000000;
  padding: 31px 64px;
}
.btn-dark:hover {
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}
.btn-dark:focus {
  box-shadow: inset 0px 15px 35px rgba(0, 0, 0, 0.35);
}

.btn-white {
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 35px;
  padding: 22px 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-25%, -25%);
  -ms-transform: translate(-25%, -25%);
}
.btn-white:hover {
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}
.btn-white:focus {
  box-shadow: inset 0px 15px 35px rgba(0, 0, 0, 0.35);
}

.btn-outline-dark {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  padding: 19px 24px;
}
.btn-outline-dark:hover {
  color: #000000;
  background: #F3F3F3;
}
.btn-outline-dark:focus {
  color: #000000;
  background: #F3F3F3;
}

.dropdown .btn {
  color: rgba(255, 255, 255, 0.8);
}

.hero-image {
  background: url("../images/main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60vw;
}

.img-style {
  padding: 0 157px;
  position: relative;
  bottom: 0;
}

.owl-carousel .owl-item img {
  display: inline-block;
  justify-content: center;
}

.card {
  background-color: transparent;
  padding: 50px 58px;
  border: 1px solid rgba(151, 151, 151, 0.34);
  border-radius: 33px;
  cursor: pointer;
}
.card .card-title {
  font-weight: bold;
  font-size: 20px;
  color: #000000;
}
.card .card-text {
  font-weight: normal;
  font-size: 18px;
  color: rgba(48, 48, 48, 0.8);
}
.card:hover {
  border: 1px solid transparent;
  background: #FFFFFF;
  box-shadow: 6px 20px 78px rgba(0, 0, 0, 0.1);
}

.card.details-block {
  position: relative;
  cursor: pointer;
}
.card.details-block .read-more-link {
  opacity: 0;
}
.card.details-block:hover .read-more-link {
  opacity: 1;
  display: block;
}

.discover .card {
  padding: 40px;
}

.bg-gradient {
  background: linear-gradient(57.58deg, #FBCACD -10.97%, rgba(224, 204, 223, 0.5985) 57.52%, #E8D8FE 94.76%) !important;
}

.decor-large-img {
  top: 35px;
  left: -30px;
}

.decor-small-img {
  top: -40px;
}

.rectangle-style {
  width: 112px;
  height: 112px;
}

textarea {
  resize: none;
}

footer {
  padding: 110px 0;
}
footer ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
footer ul li a {
  font-weight: normal;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
footer a {
  color: rgba(255, 255, 255, 0.5);
}
footer p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.tech-carousel-dots {
  display: flex;
  bottom: 90px;
  right: 0;
}
.tech-carousel-dots button {
  border: 0;
  background-color: transparent;
}
.tech-carousel-dots .owl-dot span {
  width: 17px;
  height: 17px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  margin: 0px 3px;
  background: #FFFFFF;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.tech-carousel-dots .owl-dot.active span,
.tech-carousel-dots .owl-dot:hover span {
  background-color: #000000;
}

.tech-carousel-dots .owl-dot.active span,
.tech-carousel-dots .owl-dot:hover span {
  width: 17px;
  height: 17px;
  background-color: #000000;
  border: 1px solid #000000;
}

@media (max-width: 1200px) {
  .rectangle-style {
    width: 87px;
    height: 87px;
  }

  .font-size-32 {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .decor-large-img {
    width: 152px;
    top: 205px;
  }

  .decor-small-img {
    width: 104px;
  }

  .btn-dark {
    padding: 24px 42px;
  }

  .discover .card {
    padding: 20px;
  }

  .hero-image {
    background: url("../images/main-middle.png");
    background-repeat: no-repeat;
  }

  .pt-180 {
    padding-top: 230px;
  }

  .pb-260 {
    padding-bottom: 80px;
  }

  #menu-container li {
    margin: 25px 0;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 54px !important;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  .font-size-28 {
    font-size: 18px;
  }

  .pb-65 {
    padding-bottom: 40px;
  }

  .pb-68 {
    padding-bottom: 48px;
  }

  .pb-70 {
    padding-bottom: 24px;
  }

  .pb-80 {
    padding-bottom: 40px;
  }

  .pb-120 {
    padding-bottom: 46px;
  }

  .pb-160 {
    padding-bottom: 120px;
  }

  .mt-150 {
    margin-top: 70px;
  }

  .mt-180 {
    margin-top: 110px;
  }

  .mt-300 {
    margin-top: 80px !important;
  }

  .navbar {
    padding: 10px 0;
  }

  .card {
    padding: 30px;
  }
  .card .card-title {
    font-size: 14px;
  }
  .card .card-text {
    font-size: 12px;
  }

  .btn-white {
    padding: 17px 23px;
  }

  .tech-carousel-dots {
    display: none;
  }

  .container-fluid-mobile {
    max-width: auto;
    padding: 0;
  }

  footer {
    padding: 30px 0;
  }
  footer ul li a {
    font-size: 13px;
  }
  footer p {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .decor-small-img {
    width: 45%;
    right: 0;
  }

  .hero-image {
    background: url("../images/main-mobile.png");
    background-repeat: no-repeat;
  }

  .pt-180 {
    padding-top: 280px;
  }
}
@media (max-width: 414px) {
  .hero-image {
    background: url("../images/main-mobile.png");
    background-repeat: no-repeat;
    width: 88vw;
  }
}

/*# sourceMappingURL=style.css.map */
