$black: #000000;
$darkgrey: #303030;
$grey: #979797;
$lightgrey: #AAA8AD;
$lavenderblush: #E5D9F7;
$blueviolet: #7879F1;
$white: #FFFFFF;
$img-w: 5912px;
$img-h: 389px;
$shrink: 2;
$ratio: 1 / $shrink;
$speed: 50s;
h1 {
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 6px;
    color: $black;
}

h2 {
    font-weight: bold;
    font-size: 60px;
    color: $black;
}

h3 {
    font-weight: bold;
    font-size: 38px;
    color: $black;
}

h4 {
    font-weight: bold;
    font-size: 24px;
    color: $black;
}

h5 {
    font-weight: normal;
    font-size: 22px;
    color: rgba(48, 48, 48, 0.8);
}

p {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: rgba(48, 48, 48, 0.7);
    margin-bottom: 0;
}

.w-36 {
    width: 36px;
}

.h-36 {
    height: 36px;
}

.w-150 {
    width: 150px;
}

.h-150 {
    height: 150px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-180 {
    padding-top: 180px;
}

.pt-200 {
    padding-top: 200px;
}

.pt-320 {
    padding-top: 320px;
}

.pt-450 {
    padding-top: 450px;
}

.pb-36 {
    padding-bottom: 36px;
}

.pb-65 {
    padding-bottom: 65px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-160 {
    padding-bottom: 160px;
}

.pb-200 {
    padding-bottom: 200px;
}

.pb-260 {
    padding-bottom: 260px;
}

.pb-340 {
    padding-bottom: 340px;
}

.pb-580 {
    padding-bottom: 580px;
}

.py-70 {
    padding: 70px 0;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-180 {
    margin-bottom: 180px;
}

.text-white {
    color: $white;
}

.text-dark {
    color: $darkgrey!important;
}

.text-muted {
    color: $lightgrey!important;
}

.font-size-10 {
    font-size: 10px!important;
}

.font-size-12 {
    font-size: 12px!important;
}

.font-size-16 {
    font-size: 16px!important;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-96 {
    font-size: 96px;
}

.bg-white {
    background-color: $white!important;
}

.bg-dark {
    background-color: $black!important;
}

.bg-secondary {
    background-color: #1F1F1F!important;
}

.bg-pink {
    background-color: $lavenderblush!important;
}

.shadow-sm {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)!important;
}

.rounded-1 {
    border-radius: 33px!important;
}

.rounded-2 {
    border-radius: 40px!important;
}

.z-index-1 {
    z-index: 1;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.5)!important;
}

.border-right {
    border-right: 1px dashed rgba(0, 0, 0, 0.5)!important;
}

.shadow-sm {
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.05)!important;
}